@font-face {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    src: url(/fonts/Raleway-Bold.woff) format('woff'),
            url(/fonts/Raleway-Bold.woff2) format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    src: url(/fonts/Raleway-Regular.woff) format('woff'),
            url(/fonts/Raleway-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}

.header {
    display: grid;
    grid-template-columns: 3fr 140px 1fr 2fr;
    padding: 90px 15px;
    align-items: center;
}

.header__menu {
    margin: 0 auto;
}

.header__links-list {
    display: flex;
    gap: 30px;
    font-size: 18px;
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    text-decoration: none;
    border-bottom: 1px solid black;
    white-space:nowrap;
}

.header__link_active {
    text-decoration: none;
    border-bottom: none;
}

.address {
    grid-column: 4;
    font-size: 18px;
    padding: 0 36px;
}

.header__address {
   padding-top: 5px;
}

.cover {
    background-image: url(/images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}

.overlay {
    inset: 0;
    position: absolute;
    background-color: #0009;
    z-index: -1;
}

.cover__title {
    font-size: 100px;
    color: #FFF;
    text-transform: uppercase;
    padding: 165px 50px 135px;
}

.letter-spacing-extended {
    letter-spacing: 30px;
}

.no-letter-spacing {
    letter-spacing: normal;
}

.aligned-text {
    display: block;
    text-align: start;
}

.aligned-text_center {
    display: block;
    text-align: center;
    padding-top: 10px;
}

.aligned-text_right {
    display: block;
    text-align: right;
    padding-top: 10px;
}